* {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

html, body
{
	width: 100%;
	font-family: "Slabo 27px";
	color: #2F343B;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
}

#top
{
	padding-top: 50px;
	text-align: center;
	background-position:  fixed;
	background-size: cover;
	background-image: url("../images/forest.jpg");
	height: 1000px;
}

#top h1{
	margin-top: 80px;
	font-size: 3.5em;
}

#me {
	margin-top: 50px;
}

#quote{
	font-family: "Slabo 27px";
	font-style: italic;
	margin-top: 50px;
	color: #ffffff;
	font-size: 2em;
}
