header{
	height: 150px;
	background-color: #DDF4D8;
	text-align: center;
	color: #AF6A25;
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	padding-top: 40px;
	font-size: 2em;

}

main {
	margin-top: 30px;
}

.blogpost{
	width: 60%;
	margin-left: 20%;
	margin-bottom: 30px;
}

.blogpost h1{
	font-family: 'Montserrat', sans-serif;
}

.blogpost h2{
	font-size: 1em;
	padding-bottom: 15px;
	color: #AF6A25;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.blogpost hr{
	border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.blogpost p {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: black;
	font-size: 1em;
	margin-top: 10px;
}

.blogpost .readmore {
	font-family: 'Open Sans', sans-serif;
	margin-top: 500px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #AF6A25;
	width: 160px;
	font-weight: 600;
	font-size: 1em;
	transition: .5s;
	font-style: normal;
	color: #AF6A25;
	text-decoration: none;
	}



.blogpost .readmore:hover {
	background-color: #AF6A25;
	color: #FFFFFF;
	border-radius: 3px;
}

